body, html {
  width: 100%; height: 100%;
  margin: 0;
  background-image: url(https://user-images.githubusercontent.com/12768542/36515179-1426a740-1746-11e8-8da2-b51c4402a079.png);
  background-size: cover;
  background-position: center;
  image-rendering:optimizeSpeed;
  image-rendering:-moz-crisp-edges;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  image-rendering:crisp-edges;
  -ms-interpolation-mode:bicubic;
  overflow: hidden;
}

.duck {
  position: absolute;
  background-image: url(https://user-images.githubusercontent.com/12768542/36515180-14321990-1746-11e8-99d8-6125b7fde18e.png);
  background-position: -100px -160px;
  width: 110px;
  height: 115px;
  transition: top 1s, left 1s;
}

.duck.shot {
  background-image: url(https://media.git.generalassemb.ly/user/4451/files/7b16293e-99ab-11e8-917b-6ce8fd638785);
}

.duck.right       { background-position: -200px -160px; }
.duck.right.flap  { background-position: -300px -160px; }
.duck             { background-position: -100px -160px; }
.duck.flap        { background-position: -430px -160px; }